body {
  background-color: #7C84AE;
}

h1 {
  color: #313B74;
  
}
h2 {
   color: #525C91;
}
a:link {
    color: red;
}
ul a:link{
    color: #070F3A;
}
.byline{
    color: rgba(255,0,0,0.5);
}